{% extends '../main/base.html' %} {% block content%}
{% load static %}

<h2 class="mt-5 text-center " >IDENTIFIKASI BANK YANG BERESIKO MENGALAMI KEGAGALAN BERDASARKAN METODE <i>RISK BASED BANK RATING</i> (RBBR) MENGGUNAKAN ALGORITMA <i>K-MEDOIDS CLUSTERING</i></h2>
<img src="{% static 'images/uin.png' %}" width='20%' style="display: block; margin: auto" class="mt-5" />
<h5 class="mt-5 text-center " >NAMA : M RIFKI ILMI</h5>
<h5 class=" text-center " >NIM  : 11651100944</h5>

{% endblock content%}
