{% load static %}
{% load datasetTags %}
{% load evaluationTags %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap4.min.css" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

    <script src="https://kit.fontawesome.com/9d74f51f33.js" crossorigin="anonymous"></script>

    <title>{{ title }}</title>
  </head>

  <body>
    {% include 'main/navbar.html' %}
    <div class="mb-5"></div>
    <br />

    <div class="container mb-5">
      {% block content %} {% endblock content%}
    </div>

    {% include 'main/footer.html' %}

    <script src="{% static 'js/jquery-3.5.1.min.js' %}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap4.min.js"></script>
    
    {% block javascript %} {% endblock javascript%}

    <script>
    $(document).ready(function() {
        $('#datasets').DataTable({
            "language": {
            "emptyTable": "<i>Unfiltered</i>-- <i>No Data</i>"
          }
        });
    });
    </script>

    <script>
    $(document).ready(function() {
        $('#processed').DataTable({
            "language": {
            "emptyTable": "<i>No Data</i>"
          }
        });
    });
    </script>

    <script>
    $(document).ready(function() {
        $('#clustering').DataTable({
            "language": {
            "emptyTable": "<i>No Data</i>"
          }
        });
    });
    </script>
    
    <script>
    $(document).ready(function() {
        $('#transformed').DataTable({
            "language": {
            "emptyTable": "<i>No Data</i>"
          }
        });
    });
    </script>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>

  </body>
</html>
